In [708]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/six/1.16.0_2/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [709]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [710]:
pip install numpy

Requirement already satisfied: numpy in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (1.22.4)
WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [180]:
import pandas as pd

In [181]:
import numpy as np

In [182]:
sugar_sheet = pd.read_csv("/Users/raven/Desktop/final_sugar_data.csv")

/var/folders/5z/5rdp8_657ln18qfy3d9fxjtm0000gq/T/ipykernel_92588/1601173874.py:1: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  sugar_sheet = pd.read_csv("/Users/raven/Desktop/final_sugar_data.csv")

In [183]:
sugar_sheet.head()

     No      식품명  대분류   중분류   소분류 1회 제공량 용량 총내용량(g) 총내용량(ml) 총당류(g)
0  1211  선 냉동 유부  NaN  가공두부  가공두부     10  g       -        -      0
1  1755   두부봉 치즈  NaN  가공두부  가공두부    180  g       -        -      7
2  1756      두부봉  NaN  가공두부  가공두부    180  g       -        -      8
3  1766      클래식  NaN  가공두부  가공두부    114  g       -        -    1미만
4  5468       유부  NaN  가공두부  가공두부     80  g       -        -      0

In [184]:
sheet = pd.DataFrame(sugar_sheet)

In [185]:
sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83825 entries, 0 to 83824
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        83825 non-null  object
 1   식품명       83825 non-null  object
 2   대분류       0 non-null      float64
 3   중분류       83825 non-null  object
 4   소분류       83825 non-null  object
 5   1회 제공량    83825 non-null  object
 6   용량        82863 non-null  object
 7   총내용량(g)   83825 non-null  object
 8   총내용량(ml)  83825 non-null  object
 9   총당류(g)    83825 non-null  object
dtypes: float64(1), object(9)
memory usage: 6.4+ MB

In [186]:
sheet.set_index('No')

                  식품명  대분류   중분류   소분류 1회 제공량  용량 총내용량(g) 총내용량(ml) 총당류(g)
No
1211          선 냉동 유부  NaN  가공두부  가공두부     10   g       -        -      0
1755           두부봉 치즈  NaN  가공두부  가공두부    180   g       -        -      7
1756              두부봉  NaN  가공두부  가공두부    180   g       -        -      8
1766              클래식  NaN  가공두부  가공두부    114   g       -        -    1미만
5468               유부  NaN  가공두부  가공두부     80   g       -        -      0
...               ...  ...   ...   ...    ...  ..     ...      ...    ...
77843              물회  NaN    회류    회류    700   g       -        -     20
77844            생선물회  NaN    회류    회류    800   g       -        -     52
84962              육회  NaN    회류    회류    150   g       -        -   7.93
40744  마이셀 무알콜 (330병)  NaN  효모음료  효모음료    100  mL       -      330   0.71
40803         핫 터닙 주스  NaN  효모음료  효모음료    100   g       -      250      0

[83825 rows x 9 columns]

In [187]:
sheet["총당류(g)"].sort_values()

9451          -
69155         -
69156         -
69168         -
69169         -
          ...
40439        99
47244        99
70171      99.5
70170      99.8
37605    총당류(g)
Name: 총당류(g), Length: 83825, dtype: object

In [188]:
sheet["총당류(g)"].value_counts().sort_values()

7.93        1
28.06       1
141.6       1
292         1
321.8       1
         ...
5        3033
4        3091
3        3143
2        3406
0        8390
Name: 총당류(g), Length: 2905, dtype: int64

In [189]:
# condition1 = (sheet["총당류(g)"] <= 1)

In [190]:
condition2 = (sheet["총당류(g)"] == "1미만")

In [191]:
delete_condition = sheet["총당류(g)"].loc[condition2].index

In [192]:
delete_condition

Int64Index([    3,  1670,  1674, 20512, 20516, 20521, 42039, 52323, 52332,
            52339, 52342, 52353, 52355, 52363, 55934],
           dtype='int64')

In [193]:
sheet = sheet.drop(delete_condition)

In [194]:
condition3 = sheet["총당류(g)"] == "-"

In [195]:
sheet = sheet.drop(sheet["총당류(g)"].loc[condition3].index)

In [196]:
sheet[["총당류(g)", "식품명"]]

      총당류(g)             식품명
0          0         선 냉동 유부
1          7          두부봉 치즈
2          8             두부봉
4          0              유부
5          0              유부
...      ...             ...
83820     20              물회
83821     52            생선물회
83822   7.93              육회
83823   0.71  마이셀 무알콜 (330병)
83824      0         핫 터닙 주스

[82375 rows x 2 columns]

In [197]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "1g미만"]

In [198]:
sheet = sheet.drop(delete_condition.index)

In [199]:
sugar_index = sheet["총당류(g)"].value_counts().index

In [200]:
for index in sugar_index:
    float(index)

ValueError: could not convert string to float: '1g 미만'

In [201]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "1g 미만"]

In [202]:
sheet = sheet.drop(delete_condition.index)

In [203]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "0.5g 미만"]

In [204]:
sheet = sheet.drop(delete_condition.index)

In [205]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "0.5g미만"]

In [206]:
sheet = sheet.drop(delete_condition.index)

In [207]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "11 미만"]

In [208]:
sheet = sheet.drop(delete_condition.index)

In [209]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "2미만"]

In [210]:
sheet = sheet.drop(delete_condition.index)

In [211]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "13미만"]

In [212]:
sheet = sheet.drop(delete_condition.index)

In [213]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "1 g 미만"]

In [214]:
sheet = sheet.drop(delete_condition.index)

In [215]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "1 미만"]

In [216]:
sheet = sheet.drop(delete_condition.index)

In [217]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "총당류(g)"]

In [218]:
sheet = sheet.drop(delete_condition.index)

In [219]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "3g미만"]

In [220]:
sheet = sheet.drop(delete_condition.index)

In [221]:
sheet.head()

     No      식품명  대분류   중분류   소분류 1회 제공량 용량 총내용량(g) 총내용량(ml) 총당류(g)
0  1211  선 냉동 유부  NaN  가공두부  가공두부     10  g       -        -      0
1  1755   두부봉 치즈  NaN  가공두부  가공두부    180  g       -        -      7
2  1756      두부봉  NaN  가공두부  가공두부    180  g       -        -      8
4  5468       유부  NaN  가공두부  가공두부     80  g       -        -      0
5  5469       유부  NaN  가공두부  가공두부     80  g       -        -      0

In [222]:
sheet = sheet.drop(sheet.loc[sheet["총당류(g)"] == 0].index)

In [223]:
delete_condition = sheet.loc[sheet["총당류(g)"] == "1 미만"]

In [224]:
sheet = sheet.drop(delete_condition.index)

In [225]:
delete_condition = sheet.loc[sheet["총당류(g)"].astype(float) <= 1]

In [226]:
sheet = sheet.drop(delete_condition.index)

In [227]:
sheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67654 entries, 1 to 83822
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        67654 non-null  object
 1   식품명       67654 non-null  object
 2   대분류       0 non-null      float64
 3   중분류       67654 non-null  object
 4   소분류       67654 non-null  object
 5   1회 제공량    67654 non-null  object
 6   용량        66771 non-null  object
 7   총내용량(g)   67654 non-null  object
 8   총내용량(ml)  67654 non-null  object
 9   총당류(g)    67654 non-null  object
dtypes: float64(1), object(9)
memory usage: 5.7+ MB

In [228]:
sheet = sheet.drop(sheet.loc[sheet["중분류"] == "가공두부"].index)

In [229]:
sheet.head()

,No,식품명,대분류,중분류,소분류,1회 제공량,용량,총내용량(g),총내용량(ml),총당류(g)
17,138,내몸애두유 검은콩,NaN,가공두유,가공두유,195,g,-,-,5
18,375,국산 발아콩 고칼슘 두유,NaN,가공두유,가공두유,190,g,-,-,8
19,376,이롬 황성주 국산콩 두유 호두와 아몬드,NaN,가공두유,가공두유,190,g,-,-,10
20,421,자연드림 우리콩두유,NaN,가공두유,가공두유,195,g,-,-,4
21,453,맛있게 든든한 고칼슘두유,NaN,가공두유,가공두유,190,g,-,-,9

In [230]:
array = ['가공두부', '가공버터', '가공치즈', '간편조리세트', '고추씨기름', '고추장',  '곡류가공품', '과/채가공품', '기타잼', '국 및 탕류',  '기타 농산가공품', '면 및 만두류',  '밥류',  '볶음류', '생채및 무침류', '기타 수산물가공품', '기타 식용유지가공품', '기타 어육가공품', '전.적 및 부침류', '조림류', '찜류', '튀김류', '기타가공품', '기타설탕', '기타식물성유지', '즉석섭취식품', '김치', '김치류', '숙채류', '생채및 무침류', '당류가공품', '당시럽류', '된장', '두류가공품', '두부', '들기름', '볶음류', '면 및 만두류', '마가린', '마요네즈', '만두', '면 및 만두류', '만두피', '모조치즈', '묵류', '미강유(현미유)', '밀가루', '발효소시지', '복합조미식품', '커피', '전.적 및 부침류', '분쇄가공육제품', '산분해간장', '산양유', '신선편의식품', '생채및 무침류', '생햄', '선천성 대사질환자용 식품', '설탕', '성장기용 조제식', '소스', '소시지', '쇼트닝', '숙면', '면 및 만두류', '식물성크림', '식용돈지', '식육추출가공품', '신선편의식품', '알가열제품', '알함유가공품', '해바라기유', '야자유', '양념육', '양념젓갈', '양조간장', '어묵',  '어육소시지', '구이류', '국 및 탕류', '생채및 무침류', '볶음류', '전.적 및 부침류', '조림류', '찌개 및 전골류', '찜류', '찌개 및 전골류', '튀김류', '영/유아용 이유식', '영아용 조제유', '영양강화 밀가루', '옥수수기름(옥배유)', '올리고당', '올리고당가공품', '올리브유', '유탕면', '전.적 및 부침류', '음료베이스', '임산/수유부용 식품',  '장아찌 및 절임류', '잼', '전분가공품', '전지분유', '절임식품', '젓갈', '젓갈류', '조미건어포', '조미김', '죽 및 스프류', '면 및 만두류', '즉석섭취식품', '즉석조리식품', '참기름', '구이류', '채종유(유채유 또는 카놀라유)', '체중조절용 조제식품', '추잉껌', '추출가공식품', '춘장', '카레(커리)', '코코아매스', '코코아버터', '콩기름(대두유)', '탄산수', '탈지농축우유', '탈지분유', '즉석조리식품', '토마토케첩', '팜유류', '포류', '프레스햄', '해바라기유', '햄', '해바라기유', '즉석섭취식품', '향미유', '혼합간장', '혼합식용유', '혼합장', '환자용 식품', '회류', '효모음료', '가공유지', '개량메주', '곤충가공식품', '기타', '기타장류', '땅콩기름(낙화생유)', '땅콩버터', '발효식초', '버터', '베이컨류', '성장기용 조제유', '식육함유가공품', '어유', '영/유아용 특수조제식품', '코코아분말', '혼합분유', '혼합소시지', '당절임', '영아용 조제식']

In [231]:
len(array)

161

In [232]:
array = set(array)

In [233]:
print(list(array))

['식물성크림', '어육소시지', '숙채류', '환자용 식품', '참기름', '해바라기유', '포류', '효모음료', '소시지', '볶음류', '코코아매스', '곤충가공식품', '신선편의식품', '탄산수', '임산/수유부용 식품', '전지분유', '채종유(유채유 또는 카놀라유)', '소스', '가공두부', '땅콩기름(낙화생유)', '알가열제품', '혼합간장', '커피', '장아찌 및 절임류', '고추장', '기타가공품', '혼합분유', '성장기용 조제식', '즉석조리식품', '춘장', '만두피', '즉석섭취식품', '기타 식용유지가공품', '기타잼', '가공유지', '튀김류', '생채및 무침류', '올리고당가공품', '곡류가공품', '생햄', '영/유아용 이유식', '밥류', '알함유가공품', '혼합소시지', '조미김', '양념젓갈', '코코아버터', '두류가공품', '가공버터', '간편조리세트', '유탕면', '향미유', '식육함유가공품', '산양유', '혼합식용유', '김치류', '전분가공품', '발효소시지', '어유', '숙면', '찌개 및 전골류', '양조간장', '올리고당', '팜유류', '프레스햄', '당시럽류', '절임식품', '기타설탕', '미강유(현미유)', '발효식초', '혼합장', '기타 수산물가공품', '선천성 대사질환자용 식품', '어묵', '옥수수기름(옥배유)', '구이류', '음료베이스', '베이컨류', '젓갈', '버터', '가공치즈', '들기름', '기타장류', '설탕', '모조치즈', '영/유아용 특수조제식품', '산분해간장', '면 및 만두류', '마가린', '마요네즈', '된장', '콩기름(대두유)', '기타식물성유지', '성장기용 조제유', '영아용 조제식', '복합조미식품', '만두', '국 및 탕류', '야자유', '탈지농축우유', '분쇄가공육제품', '두부', '죽 및 스프류', '고추씨기름', '땅콩버터', '추잉껌', '식육추출가공품', '개량메주', '쇼트닝', '기타 농산가공품', '기타 어육가공품', '조림류', '젓갈류', '당절임', '당류가공품', '탈지분유', '올리브유', '카레(커리)', '묵류', '영양강화 밀가루', '기타', '밀가루', '식용돈지', '회류', '햄', '김치', '과/채가공품', '영아용 조제유', '토마토케첩', '체중조절용 조제식품', '전.적 및 부침류', '양념육', '코코아분말', '추출가공식품', '조미건어포', '잼', '찜류']

In [234]:
len(array)

137

In [235]:
for content in array:
    sheet = sheet.drop(sheet.loc[sheet["중분류"] == content].index)

In [236]:
sheet = sheet.drop(sheet.loc[sheet["No"] == "NaN"].index)

In [237]:
sheet = sheet.drop(sheet.loc[sheet["No"].isna()].index)

In [238]:
sheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49865 entries, 17 to 83681
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        49865 non-null  object
 1   식품명       49865 non-null  object
 2   대분류       0 non-null      float64
 3   중분류       49865 non-null  object
 4   소분류       49865 non-null  object
 5   1회 제공량    49865 non-null  object
 6   용량        49206 non-null  object
 7   총내용량(g)   49865 non-null  object
 8   총내용량(ml)  49865 non-null  object
 9   총당류(g)    49865 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.2+ MB

In [239]:
sheet = sheet.drop(sheet.loc[(sheet["총내용량(g)"] == '-') & (sheet["총내용량(ml)"] == '-')].index)

In [240]:
sheet.to_csv('../temp.csv')

In [241]:
(sheet['중분류'] == '가공두유').index

Int64Index([  113,   114,   115,   116,   117,   118,   119,   120,   121,
              122,
            ...
            83672, 83673, 83674, 83675, 83676, 83677, 83678, 83679, 83680,
            83681],
           dtype='int64', length=44664)

In [242]:
sheet['중분류'] == '가공두유'

113       True
114       True
115       True
116       True
117       True
         ...
83677    False
83678    False
83679    False
83680    False
83681    False
Name: 중분류, Length: 44664, dtype: bool

In [243]:
# 음료: beverage
# 과자: snack
# 빵: bread
# 떡: rice_cake
# 유가공품: milk_product
# 빙과: ice
# 초콜릿: chocolate

In [244]:
sheet

,No,식품명,대분류,중분류,소분류,1회 제공량,용량,총내용량(g),총내용량(ml),총당류(g)
113,10397,삼육두유검은콩칼슘,NaN,가공두유,가공두유,190,mL,-,190,10
114,10398,베지밀검은콩두유고칼슘,NaN,가공두유,가공두유,190,mL,-,190,10
115,10399,달콤한베지밀비,NaN,가공두유,가공두유,100,mL,-,950,5
116,10400,삼육두유검은콩호두와아몬드,NaN,가공두유,가공두유,140,mL,-,140,10
117,10401,담백한베지밀에이,NaN,가공두유,가공두유,190,mL,-,190,6
...,...,...,...,...,...,...,...,...,...,...
83677,59687,모리나가 다스 화이트 초콜릿,NaN,화이트초콜릿,화이트초콜릿,42,g,42,-,20.4
83678,60615,화이트보뇌르,NaN,화이트초콜릿,화이트초콜릿,30,g,50,-,13
83679,61033,토블론 스위스 화이트 초콜릿,NaN,화이트초콜릿,화이트초콜릿,100,g,100,-,63
83680,61439,명인명촌 현미칩 초콜릿,NaN,화이트초콜릿,화이트초콜릿,65,g,65,-,26
83681,64772,바이오 화이트 초콜릿 요거트 & 딸기,NaN,화이트초콜릿,화이트초콜릿,100,g,100,-,51.7

In [245]:
sheet["중분류"].unique()

array(['가공두유', '가공유', '강화우유', '고형차', '과/채음료', '과/채주스', '음료 및 차류', '과자',
       '과자류', '빵류', '기타 코코아가공품', '기타발효음료', '캔디류', '농축과/채즙(또는 과/채분)',
       '농후발효유', '농후크림발효유', '땅콩 또는 견과류가공품', '떡류', '곡류 및 서류', '밀크초콜릿',
       '발효유', '비유지방아이스크림', '빙과', '아이스크림류', '샤베트', '서류가공품', '시리얼류',
       '아이스밀크', '아이스크림', '액상차', '우유', '원액두유', '유당분해우유', '유산균음료',
       '유산균첨가우유', '인삼/홍삼음료', '자연치즈', '저지방아이스크림', '준초콜릿', '초콜릿', '초콜릿가공품',
       '크림발효유', '탄산음료', '혼합음료', '화이트초콜릿'], dtype=object)

In [246]:
beverage = ['가공두유', '고형차', '과/채음료', '과/채주스', '음료 및 차류', '기타발효음료', '농축과/채즙(또는 과/채분)', '액상차', '원액두유', '유산균음료', '인삼/홍삼음료', '탄산음료', '혼합음료']
snack = ['과자', '과자류', '서류가공품']
bread = ['빵류']
rice_cake = ['떡류', '곡류 및 서류', '시리얼류', '시리얼', '땅콩 또는 견과류가공품']
milk_product = ['강화우유', '농후발효유', '농후크림발효유', '발효유', '우유', '유당분해우유', '유산균첨가우유', '자연치즈', '크림발효유', '가공유']
ice_cream = ['비유지방아이스크림', '빙과', '아이스크림류', '샤베트', '아이스밀크', '아이스크림', '저지방아이스크림']
chocolate = ['밀크초콜릿', '준초콜릿', '초콜릿', '초콜릿가공품', '화이트초콜릿', '기타 코코아가공품']
candy = ['캔디류']

In [247]:
# 해야할 목록
# 각각 저거 for 문으로 돌리면서 대분류 집어 넣기

In [248]:
for value in beverage:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '음료'

In [249]:
for value in snack:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '과자'

In [250]:
for value in bread:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '빵'

In [251]:
for value in rice_cake:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '떡, 곡류, 시리얼, 견과류'

In [252]:
for value in milk_product:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '유가공품'

In [253]:
for value in ice_cream:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '아이스크림'

In [254]:
for value in chocolate:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '초콜릿'

In [255]:
for value in candy:
    sheet.loc[sheet.loc[:, "중분류"] == value, '대분류'] = '캔디'

In [256]:
sheet.loc[:, '대분류'].unique()

array(['음료', '유가공품', '과자', '빵', '초콜릿', '캔디', '떡, 곡류, 시리얼, 견과류', '아이스크림'],
      dtype=object)

In [257]:
sheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44664 entries, 113 to 83681
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        44664 non-null  object
 1   식품명       44664 non-null  object
 2   대분류       44664 non-null  object
 3   중분류       44664 non-null  object
 4   소분류       44664 non-null  object
 5   1회 제공량    44664 non-null  object
 6   용량        44005 non-null  object
 7   총내용량(g)   44664 non-null  object
 8   총내용량(ml)  44664 non-null  object
 9   총당류(g)    44664 non-null  object
dtypes: object(10)
memory usage: 3.7+ MB

In [258]:
# 용량 없는거 null 값 채우기
sheet['용량'].unique()

array(['mL', 'g', nan], dtype=object)

In [259]:
sheet.loc[(sheet.loc[sheet.loc[:, '용량'].isnull() & sheet.loc[:, '총내용량(g)'].notnull()]).index, '용량'] = 'g'

In [260]:
sheet.loc[(sheet.loc[sheet.loc[:, '용량'].isnull() & sheet.loc[:, '총내용량(ml)'].notnull()]).index, '용량'] = 'ml'

In [261]:
sheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44664 entries, 113 to 83681
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        44664 non-null  object
 1   식품명       44664 non-null  object
 2   대분류       44664 non-null  object
 3   중분류       44664 non-null  object
 4   소분류       44664 non-null  object
 5   1회 제공량    44664 non-null  object
 6   용량        44664 non-null  object
 7   총내용량(g)   44664 non-null  object
 8   총내용량(ml)  44664 non-null  object
 9   총당류(g)    44664 non-null  object
dtypes: object(10)
memory usage: 4.8+ MB

In [273]:
sheet.to_csv('../../정제데이터(final).csv')